html,
body {
   margin:0;
   padding:0;
   height:100%;
}

body {
	background-color: whitesmoke;
	font-family: Lucida Grande, Verdana, Sans-serif;
	color: #353535;
	height: 100%;
}

#container {
   min-height:100%;
   position:relative;
}

#header {
   padding:10px;
}

#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}

a.button {
  border: solid 1px black;
  border-radius: 17px;
  height: 20px;
  width: 60px;
  background-color: #30055C;
  text-align: center;
	margin: 10px;
	color: white;
	padding: 10px 50px;
	text-decoration: none;
	font-size: 16px;
}

a.button.right {
  float: right;
}

a.button.left {
  float: left;
}

.cmd {
	font-size: 90%;
	background-color: black;
	color: white;
	padding: 3px;
	font-weight: bold;
	text-align: left;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
}

.input {
	color: red;
}

h2 {
	font-size: 120%;
	background-color: #30055C;
	color: white;
	padding-left: 5px;
	padding-bottom: 2px;
	margin-top: 6pt;
	margin-bottom: 6pt;
}
